# Salesforce Connected App
SF_USERNAME=you@yourorg.com
SF_PASSWORD=yourpassword
SF_SECURITY_TOKEN=yourtoken
SF_DOMAIN=login          # 'test' for sandbox, 'login' for production

# ClickHouse Cloud
CH_HOST=abc123.us-east-1.aws.clickhouse.cloud
CH_PORT=8443
CH_USER=default
CH_PASSWORD=yourpassword
CH_DATABASE=salesforceProd
